{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class ='container'>
<H1>Suggested Edits</H1>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Player Name</th>
      <th scope="col">Highest Score</th>
      <th scope="col">Leaderboard</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Darth Gera</td>
      <td>310</td>
      <td>2	</td>
    </tr>
   <tr>
      <th scope="row">2</th>
      <td>Anurag Jain</td>
      <td>240</td>
      <td>1</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Eren Yeager</td>
      <td>200</td>
      <td>0 </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Random</td>
      <td>20</td>
      <td>0 </td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}
